<h1 mat-dialog-title>Productos</h1>
<div mat-dialog-content class="dialog">
  <form [formGroup]="DialogProductosForm" (ngSubmit)="aceptar()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion" placeholder="Inserte una descripción"></textarea>
  </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio" type="number">
    </mat-form-field>
  
  <mat-form-field style="display: none;">
    <mat-label>FotoUrl</mat-label>
    <input matInput formControlName="fotoUrl" >
  </mat-form-field>
  <div *ngIf="fotoUrlEx !=''; else elseBlock"><img [src]="fotoUrlEx"  width="180px" height="180px"></div>
  <ng-template #elseBlock><img [src]="downloadURL | async"  width="180" height="180px"></ng-template>
  <input type="file" (change)="uploadFile($event)" />
  <div>{{ uploadPercent | async }}</div>
  <mat-form-field>
    <mat-label>Estado</mat-label>
  <mat-select required formControlName="activo" placeholder="Seleccione">
        <mat-option value=true>Dar de Alta</mat-option>
        <mat-option value=false>Dar de Baja</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>SubCategoria</mat-label>
    <mat-select required formControlName="subcategoria" placeholder="Seleccione">
      <mat-option *ngFor="let subcategoria of items | async" value="{{subcategoria.id}}">{{subcategoria.nombre | json}}</mat-option>
    </mat-select>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="warn">Cancelar</button>
  <button mat-button (click)="aceptar()" color="primary" [disabled]="!DialogProductosForm.valid">Ok</button>
</div>