<h1 mat-dialog-title>Detalles Pedidos</h1>
<div mat-dialog-content class="dialog">
  <h2>Datos</h2>
  <p>Fecha: {{data.fecha | date:'dd/MM/yyyy HH:mm'}}</p>
  <p>Activo: {{data.activo}}</p>
  <ng-container *ngFor="let producto of items2 | async">
  <p *ngIf="producto.id === data.dly">Repartidor: {{producto.nombre}}</p>
  </ng-container>
  <p>Precio Total: {{data.precio}}</p>
    <div *ngIf="data.estado =='true'; else elseBlock">
      Estado: Completado
    </div>
    <ng-template #elseBlock>
      <div *ngIf="data.estado =='false'; else elseBlock2">
          Estado: En Curso
      </div>
      <ng-template #elseBlock2>
          Estado: Preparando
      </ng-template>
    </ng-template>
    <br>
    <br>
  <h2>Productos</h2>
  <ng-container *ngFor="let producto of items | async">
    <ng-container *ngFor="let productos of products">
      <ng-container *ngIf="productos.id===producto.id">
        <p>Nombre: {{producto.nombre}}</p>
        <p>Precio: {{producto.precio}} Bs.</p>
        <p>Cantidad: {{productos.cantidad}}</p>
      </ng-container> 
    </ng-container>
  </ng-container>
</div>
<div mat-dialog-actions [ngClass]="'center'">
  <button mat-button (click)="aceptar()" color="primary">Ok</button>
</div>