table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
    min-width: 100%;
}
tr td{
    width: 20%;
}
.leaflet-pane.leaflet-shadow-pane{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
.table{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header mat-form-field{
    font-size: 14px;
    width: 40%;
    min-width: 40%;
}
.header .categoria{
    font-size: 14px;
    width: 40%;
    min-width: 30%;
}
.red {
    color: #F93154; 
}

.green {
    color: #00B74A;
}
.curso {
    color: #1266F1;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
